@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Inclusive+Sans:ital@0;1&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-next {
  background: linear-gradient(90.95deg, #dee5ff 0.79%, #809aff 99.18%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}


.calendar {
  font-family: Arial, sans-serif;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.day-label {
  text-align: center;
}

.day {
  position: relative;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
}

.date {
  font-weight: bold;
}

.tasks {
  margin-top: 5px;
}

.task {
  background-color: #e0e0e0;
  padding: 2px 5px;
  margin-bottom: 3px;
  border-radius: 3px;
}

.task:hover {
  background-color: #d0d0d0;
}
